html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
}

p,
h1,
h2,
h3,
h4,
ul,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

.promo {
  height: 300px;
  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.nav_list {
  display: flex;
  flex-direction: column;
  max-height: 0;

  overflow: hidden;

  transition: max-height 0.3s;
}

.nav--opened .nav_list {
  max-height: 152px;
}

.label {
  display: block;
  padding: 10px;
}

.button::before {
  content: "=";
}

.nav--opened .button::before {
  content: "X";
}

.checkbox {
  display: none;
}




@media (min-width: 500px) {
  .nav_list {
    justify-content: space-around;
    flex-direction: row;
  }
}

.nav_link {
  font-size: 16px;
  color: #f5f5f7;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 20px;
  display: inline-block;

  transition: color 0.3s;
}

.nav_link:hover {
  color: silver;
}

.main {
  padding: 40px;
  border: 2px solid red;
  background-color: white;
}

.mainText {
  margin-bottom: 10px;
  color: green;
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  text-align: center;

  background-image: linear-gradient(to bottom right, red, yellow);
}




